#h5{
    text-align: center;
    color: coral;
    font: message-box;
}
#h4{
    text-align: center;
    color: rgb(5, 252, 178);
    font: message-box;
}
#h1{
    text-align: center;
    color: rgba(247, 10, 215, 0.336);
    font: message-box;
}